.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.container:hover {
  background-color: rgb(206, 217, 226);
}

ul {
  justify-content: center;
  list-style: none;
  text-align: right;
}

p {
  margin: 10px;
}

.grey {
  background-color: rgb(223, 223, 223);
  color: black;
}

.focused {
  background-color: rgb(155, 184, 209);
}
