<div class="container">
  <app-header></app-header>
  <div class="button-container">
    <app-button
      text="Courses"
      [active]="(activeList$ | async) === 'courses'"
      (btnClick)="switchActiveList('courses')"
    ></app-button>
    <app-button
      text="Students"
      [active]="(activeList$ | async) === 'students'"
      (btnClick)="switchActiveList('students')"
    ></app-button>
  </div>
  <app-list></app-list>
  <div class="overview-container">
    <!-- <app-course-overview
      *ngIf="(activeList$ | async) === 'courses' && focusedCourseItem"
      [course]="focusedCourseItem"
      ></app-course-overview> -->
  </div>
</div>

{{ console.log(activeList$ | async) }}
