<div class="container">
  <app-header></app-header>
  <div class="button-container">
    <app-button
      text="Courses"
      [active]="activeList === 'courses'"
      (btnClick)="switchActiveList('courses')"
    ></app-button>
    <app-button
      text="Students"
      [active]="activeList === 'students'"
      (btnClick)="switchActiveList('students')"
    ></app-button>
  </div>
  <app-list
    [listData$]="listData$"
    [activeListIdentifier]="activeList"
  ></app-list>
  <div class="overview-container">
    <app-student
      *ngIf="focusedStudent$ | async"
      [studentData]="focusedStudent$ | async"
      [activeList]="activeList"
    ></app-student>
    <app-course
      *ngIf="focusedCourse$ | async"
      [courseData]="focusedCourse$ | async"
      [activeList]="activeList"
    ></app-course>
  </div>
</div>
