<div class="container">
  <app-header></app-header>
  <div class="button-container">
    <app-button
      text="Courses"
      [active]="activeList === 'courses'"
      (btnClick)="switchActiveList('courses')"
    ></app-button>
    <app-button
      text="Students"
      [active]="activeList === 'students'"
      (btnClick)="switchActiveList('students')"
    ></app-button>
  </div>
  <app-section-container
    [dataIdentifier]="activeList"
    [courses]="activeList === 'courses' ? courseData : null"
    [students]="activeList === 'students' ? studentData : null"
    [focusIdentifier]="focusIdentifier"
  ></app-section-container>
  <div class="overview-container">
    <app-course-overview
      *ngIf="activeList === 'courses' && focusedCourseItem"
      [course]="focusedCourseItem"
    ></app-course-overview>
  </div>
</div>
