.grey {
  background-color: rgb(223, 223, 223);
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  justify-content: center;
  list-style: none;
  text-align: right;
}
